@model CourseProject.Web.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Деталі Користувача";
}

<h1 class="mb-4">Деталі Користувача</h1>

<div class="card">
    <div class="card-header bg-info text-white">
        <h5 class="mb-0">@Model.Login</h5>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <tr>
                <th>Ім'я</th>
                <td>@Model.FirstName</td>
            </tr>
            <tr>
                <th>Прізвище</th>
                <td>@Model.LastName</td>
            </tr>
            <tr>
                <th>Стать</th>
                <td>@Model.Gender</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <th>Телефон</th>
                <td>@Model.Phone</td>
            </tr>
            <tr>
                <th>Роль</th>
                <td>@Model.RoleName</td>
            </tr>
            <tr>
                <th>Адреса</th>
                <td>@Model.Address</td>
            </tr>
            <tr>
                <th>Дані банківської картки</th>
                <td>@Model.BankCardData</td>
            </tr>
        </table>
        <a href="@Url.Action("Edit", "Users", new { id = Model.UserId })" class="btn btn-warning">Редагувати</a>
        <a href="@Url.Action("Delete", "Users", new { id = Model.UserId })" class="btn btn-danger">Видалити</a>
        <a href="@Url.Action("Index", "Users")" class="btn btn-secondary">Назад до списку</a>
    </div>
</div>
