@model IEnumerable<CourseProject.Web.ViewModels.UserViewModel>

@{
    ViewData["Title"] = "Список Користувачів";
}

<h1 class="mb-4">Список Користувачів</h1>

<a href="@Url.Action("Create", "Users")" class="btn btn-primary mb-3">Створити Користувача</a>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Логін</th>
            <th>Ім'я</th>
            <th>Прізвище</th>
            <th>Email</th>
            <th>Телефон</th>
            <th>Роль</th>
            <th>Адреса</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
                <tr>
                    <td>@user.Login</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    <td>@user.Phone</td>
                    <td>@user.RoleName</td>
                    <td>@user.Address</td>
                    <td>
                        <a href="@Url.Action("Details", "Users", new { id = user.UserId })" class="btn btn-info btn-sm">Деталі</a>
                        <a href="@Url.Action("Edit", "Users", new { id = user.UserId })" class="btn btn-warning btn-sm">Редагувати</a>
                        <a href="@Url.Action("Delete", "Users", new { id = user.UserId })" class="btn btn-danger btn-sm">Видалити</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
